@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*core styles*/
body {
  background-color: #5cf;
  font-family: Poppins, sans-serif;
}
input, textarea {
  font-family: Poppins, sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
}
input, textarea, button, .msg, .msgsW, .msgsB {
  border-radius: 8px;
  display: block;
}
main {
  padding: 20px;
  margin: 0 auto;
  width: 500px;
}

/*other styles*/
.logo {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
.msg {
  padding: 20px;
  margin-top: 20px;
  font-size: 18px;
  background-color: #fff;
  box-shadow: 4px 3px 10px rgba(0,0,0,0.3);
}
.msgsW {
  padding: 20px;
  margin-top: 20px;
  font-size: 18px;
  color: rgba(29, 29, 29, 0.739);
  background-color: rgba(218, 218, 218, 0.924);
  box-shadow: 4px 3px 10px rgba(0,0,0,0.3);
}
.msgsB {
  padding: 20px;
  margin-top: 20px;
  font-size: 18px;
  background-color: rgba(29, 29, 29, 0.767);
  color: rgba(245, 245, 245, 0.849);
  box-shadow: 4px 3px 10px rgba(255, 255, 255, 0.637);
}
.author {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}
.create-msg textarea, .create-msg input{
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  padding: 7px 10px;
  border: 1px solid black;
  margin-bottom: 10px;
}
#create-msg-text{
    max-width: 460px;
    min-width: 460px;
}
.create-msg #sendBtn {
  border: none;
  background-color: #5ac;
  font-size: 18px;
  color: #fff;
  width: 200px;
  padding: 8px;
}
.textError, .authorError, .selectError{
  color: red;
}



.modal-author, .modal-texts{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(40, 203, 240, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s,
              opacity 0.25s 0s,
              transform 0.25s;
}
.modal-content-author{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #272A2F;
  width: 400px;
  height: 100px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}
.modal-content-text{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #272A2F;
  width: 400px;
  height: 100px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}

.show-modal{
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s,
              opacity 0.25s 0s,
              transform 0.25s;
}

.modal-text{
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  color:#fff;
}

.closeAut, .closeText{
  padding: 10px 50px;
  background-color: #5ac;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
  margin: 0 auto;
  margin-top: 20px;
}
.select{
  padding: 10px 50px;
  background-color: #5ac;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 16px;
}
.date{
  color: #888;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: right;
}

